// screens
@import './screens/AboutUsScreenStyles.scss';
@import './screens/AnnouncementScreenStyles.scss';
@import './screens/ContactsScreenStyles.scss';
@import './screens/HomeScreenStyles.scss';
@import './screens/ProfileScreenStyles.scss';
@import './screens/ProgressScreenStyles.scss';
@import './screens/SignInScreenStyles.scss';
@import './screens/SignUpScreenStyles.scss';
@import './screens/SpecialtyListScreenStyles.scss';
@import './screens/TeachingScreenStyles.scss';
// components
@import './components/SignInForm.scss';
@import './components/SignUpForm.scss';
@import './components/Header.scss';
@import './components/Navigator.scss';
@import './components/PostItem.scss';
@import './components/Comment.scss';

html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #f2f3f5;
}
.main{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding-top: 100px;
}
.content{
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-top: 10px;
  z-index: 1;
}